<div class="goto-here">
	<nav class="navbar navbar-expand-lg  ftco_navbar bg-warning  ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="#">The Shoe Box</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Catagories</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							{{#each categories}}
							<a class="dropdown-item"
								href="/viewproducts/{{this.categoryname}}">{{this.categoryname}}</a>
							{{/each}}
							<a class="dropdown-item" href="/viewproducts">All products</a>

						</div>
					</li>

					{{#if session.userloggedIn}}
					<li class="nav-item"><a href="/wishlist" class="nav-link">Wishlist</a></li>
					<li class="nav-item"><a href="/cartpage" class="nav-link">My cart</a></li>

					<li class="nav-item"><a href="/orders" class="nav-link">My Orders</a></li>
					<li class="nav-item"><a href="/profile" class=" nav-link">{{session.user.name}}</a></li>
					<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
					{{else}}
					<li class="nav-item"><a href="/login" class="nav-link">Wishlist</a></li>
					<li class="nav-item"><a href="/login" class="nav-link">My cart</a></li>
					<li class="nav-item"><a href="/login" class="nav-link">My Orders</a></li>
					<li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
					<li class="nav-item"><a href="/signup" class="nav-link">Register</a></li>

					{{/if}}
				</ul>

			</div>
		</div>
	</nav>
<section class=" gradient-custom py-5">
  <div class="container py-3">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-10">
        <div class="card" style="border-radius: 10px;">
          <div class="card-header px-4 py-5" style="background-color: #dbcc8f;>
            <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #f31a1a;">{{session.user.name}}</span>!</h5>
          </div>
          <div class="card-body p-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0" style="color: #dbcc8f;">Receipt</p>
              <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p>
            </div>
            {{#each order.orderItems}}
            {{this.product.productname}}
           
            <div class="card shadow-0 border mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-2">
                    <img src="/images/productimg/{{this.product.productimage.[0]}}"
                      class="img-fluid" alt="Shoe">
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0">{{this.product.productname}}</p>
                  </div>
                 <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{this.size}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">{{this.quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">Rs.
                    <p class="text-muted mb-0 small">{{total this.product.productprice this.quantity}}</p>
                  </div>
                </div>
                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                <div class="row d-flex align-items-center">
                  <div class="col-md-2">
                    <p class="text-muted mb-0 small">Track Order</p>
                  </div>
                  <div class="col-md-10">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: 20%; border-radius: 16px; background-color: #dbcc8f;" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex justify-content-around mb-1">
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Order Placed</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         {{/each}}
        

            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span>Rs.{{order.Total}}</p>
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="text-muted mb-0">Invoice Number : 788152</p>
               {{#if order.discount}}
              <p class="text-muted mb-0"><span id="couponDiscount" class="fw-bold me-4">Discount</span>Rs.-{{order.discount}}</p>
             {{else}}
                <p class="text-muted mb-0"><span id="couponDiscount" class="fw-bold me-4">Discount</span>Rs.0</p>
             {{/if}}
            </div>

            <div class="d-flex justify-content-between">
              <p class="text-muted mb-0">Invoice Date : {{order.date}}</p>
              {{!-- <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p> --}}
            </div>

            <div class="d-flex justify-content-between mb-5">
              <p class="text-muted mb-0">Recepits Voucher : 18KU-62IIK</p>
              <p class="text-muted mb-0"><span id="shipping" class="fw-bold me-4">Delivery Charges</span>Rs.{{order.shipping}}</p>
            </div>
          </div>
          <div class="card-footer border-0 px-4 py-5"
            style="background-color: #dbcc8f; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
            {{#if (eq order.paymentDetails 'online')}}
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              paid: <span id="grandTotal" class="h2 mb-0 ms-2">Rs.{{order.totalPrice}}</span></h5>
              {{else}}
               <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              payable: <span id="grandTotal" class="h2 mb-0 ms-2">Rs.{{order.totalPrice}}</span></h5>
              {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>