<div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-warning  ftco-navbar-light m-0" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand p-2" href="#">The Shoe Box</a>
			<button class="navbar-toggler p-3" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse pl-3" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Catagories</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							{{#each categories}}
							<a class="dropdown-item"
								href="/viewproducts/{{this.categoryname}}">{{this.categoryname}}</a>
							{{/each}}
							<a class="dropdown-item" href="/viewproducts">All products</a>
						</div>
					</li>
					<li class="nav-item"><a href="/wishlist" class="nav-link">Wishlist</a></li>
					<li class="nav-item"><a href="/cartpage" class="nav-link">My cart</a></li>
					<li class="nav-item"><a href="/orders" class="nav-link">My Orders</a></li>

					{{#if session.userloggedIn}}
					<li class="nav-item"><a href="/profile" class=" nav-link">{{session.user.name}}</a></li>
					<li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
					{{else}}
					<li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
					<li class="nav-item"><a href="/signup" class="nav-link">Register</a></li>

					{{/if}}
				</ul>

			</div>
		</div>
	</nav>

	<!-- END nav -->
	<section class="vh-90 pb-5 " style="background-color:#dbcc8f">
		<form action="/update-profile" method="post">
			<div class="container pt-5">
				<div class="main-body">
					<div class="row">
						<div class="col-lg-12 align-items-center text-center mt-2">
							<h3>Update Your Profile</h3>

						</div>

						<div class="col-lg-4 mt-3">
							<div class="card">
								<div class="card-body">
									<div class="d-flex flex-column align-items-center text-center">
										<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin"
											class="rounded-circle p-1 bg-primary" width="110">
										<div class=" mt-5">
											<h4>{{userData.name}}</h4>
											<p class="text-secondary mb-1">{{userData.email}}</p>
											<p class="text-muted font-size-sm">phone:+91 {{userData.mobile}}</p>
											{{!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
											--}}
											{{!-- <button class="btn btn-primary">Upload</button>

											<button class="btn btn-outline-primary">Remove</button> --}}
										</div>
									</div>


								</div>
							</div>
						</div>

						<div class="col-lg-8 mt-3">
							<div class="card">
								<div class="card-body m-2">
									<div class="row mb-3">
										<div class="col-sm-3">
											<input type="text" class="form-control" name="id" hidden
												value="{{userData._id}}">
											<h6 class="mb-0">Full Name</h6>
										</div>
										<div class="col-sm-9 text-secondary">
											<input type="text" class="form-control" name="name"
												value="{{userData.name}}">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-sm-3">
											<h6 class="mb-0">Email</h6>
										</div>
										<div class="col-sm-9 text-secondary">
											<input type="text" class="form-control" name="email"
												value="{{userData.email}}">
										</div>
									</div>
									<div class="row mb-3">
										<div class="col-sm-3">
											<h6 class="mb-0">Phone</h6>
										</div>
										<div class="col-sm-9 text-secondary">
											<input type="text" class="form-control" name="mobile"
												value="{{userData.mobile}}">
										</div>
									</div>

									<div class="row">
										<div class="col-sm-3"></div>
										<div class="col-sm-4 text-secondary">
											<button class="btn btn-primary profile-button" type="submit">Save
												Profile</button>
										</div>
										{{!-- <div class="col-sm-1"></div>
										<div class="col-sm-4 text-secondary">
											<input type="button" class="btn btn-primary px-4" value="Change Password">
										</div> --}}
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</form>

	</section>
</div>

<footer class="ftco-footer ftco-section mt-2">
	<div class="container">
		<div class="row">
			<div class="mouse">
				<a href="#" class="mouse-icon">
					<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
				</a>
			</div>
		</div>
		<div class="row ">
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">The Shoe Box</h2>
					<p>The best online shopping site for Shoes.Collection of branded products with affordable price.</p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
						<li class="ftco-animate"><a href="https://wa.me/+917560932134"><span
									class="icon-whatsapp"></span></a></li>
						<li class="ftco-animate"><a href="https://www.facebook.com/profile.php?id=100006181519453"><span
									class="icon-facebook"></span></a></li>
						<li class="ftco-animate"><a href="https://instagram.com/sinu_adil._?igshid=YmMyMTA2M2Y="><span
									class="icon-instagram"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4 ml-md-5">
					<h2 class="ftco-heading-2">Menu</h2>
					<ul class="list-unstyled">
						<li><a href="/viewproducts" class="py-2 d-block">Shop</a></li>
						<li><a href="/about" class="py-2 d-block">About</a></li>

						<li><a href="/contactus" class="py-2 d-block">Contact Us</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Have a Questions?</h2>
					<div class="block-23 mb-3">
						<ul>
							<li><a href="https://goo.gl/maps/3JQbiZ1JBs9exBHR8"><span
										class="icon icon-map-marker"></span><span class="text">6462+CPX, Gudalur -
										Nilumbur - Kozhikode Rd, Pannipara, Perakamanna, Kerala 676541</span></a></li>
							<li><a href="tel://+917560932134"><span class="icon icon-phone"></span><span
										class="text">+91
										7560932134</span></a></li>
							<li><a href="mailto:sinupalappetty25@gmail.com"><span
										class="icon icon-envelope"></span><span
										class="text">sinupalappetty25@gmail.com</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">

				<p>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved.
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
			stroke="#F96D00" />
	</svg></div>

</div>